*{
    margin: 0;padding: 0;box-sizing: border-box;background-color: #1A1919;
    font-family: 'Poppins', sans-serif;
}

$primary-color:#FFF7DC;$secondary-color:#41A55B;$white:#F4FFF7;$dark:#212121;

.form-container{
    width: 85%;margin:auto;background-color: $dark;margin-top: 7rem;

    form{
        width: 75%;margin:auto;
        color: $primary-color;background-color: $dark;
        padding-top: 2.5rem;padding-bottom: 2.5rem;

        .icon{width: 3rem;height: 1.8rem;background-color: $dark;}

        h2{background-color: $dark;font-size: 1.4rem;font-weight: 600;width: 60%;}

        .subtitle{color: $white;background-color: $dark;}

        .input-div{
            background-color: $dark;

            input[type="text"]{background-color: #2F2F2F;border: none;padding: 2%;color: $primary-color;}
        }

        .link{color: $secondary-color;font-size: 14px;background-color: $dark;}

        .btn{
            background-color: $secondary-color;color: $dark;padding: 3%;border: none;
            border-radius: 0.25rem;width: 100%;font-weight: 600;margin-bottom: 1rem;
        }

        @media screen and (max-width: 500px){
            width: 80%;font-size: 0.8rem;margin:none;padding:0;
        }
    }

    @media screen and (max-width: 500px){width: 100%;}
}

.bg-image{
    background-image: url(../assets/bg.png);background-size: cover;height: 99vh;

    @media screen and (max-width: 717px) {display: none;}
}